:root {
	--white1: #fff;
	--white2: #eee;
	--black1: #111;
	--black2: #333;
	--ff-body: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-shadow: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white2);
	color: var(--black2);
	font-family: var(--ff-body);
	line-height: 1.5;
}

h1,
h2,
h3 {
	color: var(--black1);
	line-height: 1.2;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
}

header {
	padding: 1.5em 0;
	background-color: var(--white1);
	box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
}

main {
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
}

button {
	font-family: inherit;
	cursor: pointer;
	border-radius: 5em;
	background-color: var(--black2);
	color: var(--white1);
}

button:hover,
button:focus {
	background-color: var(--black1);
}

.btn {
	display: block;
	text-transform: capitalize;
	font-weight: 700;
	padding: 1em 1.4em;
}

.btn-add-book {
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 2.5em;
	height: 2.5em;
	font-size: 1.5rem;
	border-radius: 50%;
	transition: transform 0.1s ease-in-out;
	z-index: 1;
}

form {
	width: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white2);
	transition: width 0.2s ease;
}

.form-container {
	padding: 2em 3em;
	max-width: 30em;
	width: 95%;
	border-radius: 1em;
	background-color: var(--white1);
	box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
}

.input-container {
	padding: 0.8em 0;
}

label {
	font-weight: 600;
}

input[type='text'],
input[type='number'] {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	padding: 0.6em;
	margin: 0.2em 0;
	border-radius: 0.5em;
	background-color: var(--white2);
	color: var(--black1);
}

input[type='text']:focus,
input[type='number']:focus,
input[type='text']:active,
input[type='number']:active {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

input[type='checkbox'] {
	margin: 1em 1em 2em 1em;
}

#book-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	grid-gap: 1em;
	margin-top: 2em;
}

.book-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em;
	background-color: var(--white1);
	border-radius: 1em;
	box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
}

.book-author {
	margin-top: 1em;
}

.read-btn {
	margin: 1.5em 0 0.5em 0;
}

@media (max-width: 650px) {
	.btn-add-book {
		bottom: 0.5em;
		right: 0.5em;
	}

	.form-container {
		padding: 1.5em 2em;
	}
}
